@tailwind base;
@tailwind components;
@tailwind utilities;

.myPage-container {
  @apply shadow-custom-shadow px-7 rounded-3xl mb-8;
}
.likes-container {
  @apply shadow-custom-shadow rounded-3xl px-6 pt-4 pb-2 mb-8;
}
.reviews-container {
  @apply shadow-custom-shadow rounded-3xl px-5 py-5 mb-7;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 100; /* Thin */
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Thin.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200; /* Extra Light */
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraLight.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300; /* Light */
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Light.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400; /* Regular */
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500; /* Medium */
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600; /* Semi Bold */
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700; /* Bold */
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 800; /* Extra Bold */
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff")
    format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900; /* Black */
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff")
    format("woff");
}

@layer base {
  body {
    @apply font-pre;
  }
}

@layer utilities {
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-fade-out {
    animation: fadeOut 2s ease-out forwards;
  }

  @layer utilities {
    @keyframes slideIn {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(0);
      }
    }

    @keyframes slideOut {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(100%);
      }
    }

    .animate-slide-in {
      animation: slideIn 0.3s ease-out forwards;
    }

    .animate-slide-out {
      animation: slideOut 0.3s ease-in forwards;
    }
  }
}
